<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000255273083-t46h3h1ste308o6fbuq86alddq3cn9dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000255273083-t46h3h1ste308o6fbuq86alddq3cn9dn</string>
	<key>API_KEY</key>
	<string>AIzaSyCqUmVw6hJpMXPRQFi1pk_158DA3YccrJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1000255273083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futtaro.limitedCharactersDiary.dev</string>
	<key>PROJECT_ID</key>
	<string>limited-characters-diary</string>
	<key>STORAGE_BUCKET</key>
	<string>limited-characters-diary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000255273083:ios:8f4563068d22b971698ade</string>
</dict>
</plist>